@fontsize12: 12px;
@fontsize14: 14px;
@fontsize16: 16px;

.cont-head{ 
   margin-top: 40px;
   background-color: #FDFCEE;
   padding: 30px 50px; 
   font-size: @fontsize14;
   ul{
      width: 80%;
   }
   .list{
       dt{
          float: left;
          width: 84px; height: 84px;
          border-radius: 50%;
          overflow: hidden;
          img{
            width: 100%;
            max-height: 100%
          }
       }
       dd{
          float: left;
          width: 100%;
          margin-left: -84px; 
          padding-left: 100px;
       }
       .row2{ padding: 12px 0 20px; }
       span{ display: inline-block; background-repeat: no-repeat; background-position: 0px center; cursor: pointer; }
       .time{ float: right; }
       .reply{ margin-left: -6px; }
       .delete{ float: right; background-image: url(../images/close1.png); padding: 0 0 0 25px; }
       .zan{ float: right; background-image: url(../images/zan.png); padding: 0 0 0 25px; margin-left: 35px; }
   }
}

.cont1{ 
   background-color: #fff;
   padding: 18px 40px; 
   text-align: center; 
  .row1{
    display: inline-block;
    font-size: @fontsize16;
  }
  .back{
    float: left;
    font-size: @fontsize14;
    color: #000;
    cursor: pointer;
  }
}

.cont2{ 
    margin-top: 40px;
   background-color: #fff;
   padding: 30px 50px; 
   .c-title{
      font-size: @fontsize16;
      padding: 0 0 25px;
   }
  .textList li{ 
      padding: 6px 0; 
      font-size: @fontsize14;
      span{  
          display: inline-block;
      }
  }
  .textList .t1{
    .s2{ margin: 0 110px 0 100px; }
  }
  .textList .t3{
    .s2{ margin: 0 110px 0 100px; }
  }
 .imgList{
    overflow: hidden;
    li{ 
        overflow: hidden;
        float: left;
        width: 140px;
        height: 180px; 
        margin: 12px 18px 6px 0;
        img{ width: 100%; }
     }
  }
 .videoList{
    overflow: hidden;
    li{ 
        overflow: hidden;
        float: left;
        width: 50%;
        margin: 12px 18px 6px 0;
        img{ width: 100%; }
       video{
          width: 100%;
       }
     }
  }
}


.cont3{ 
   margin-top: 40px;
   background-color: #fff;
   padding: 30px 65px 30px; 
   .c-title{
      font-size: @fontsize16;
      padding: 0 0 15px;
   }
   .input{
      display: inline-block;
      width: 80%;
      height: 36px;
      background: #f2f2f2;
      border: solid 1px #D2D1D1;
      border-radius: 5px;
      padding: 0 15px;
      color: #000;
      font-size: @fontsize14;
   }
  .btn{
    cursor: pointer;
    display: inline-block;
    width: 14%; 
    max-width: 90px;
    height: 32px;
    line-height: 32px; 
    background-color: #0FB6F7;
    color: #fff; 
    text-align: center;
    margin-left: 20px;
    font-size: @fontsize14;
  }
   .tips{
      display: inline-block;
      text-align: right;
      width: 80%;
      color: #868686;
      margin-top: 10px;
   }
}


.cont4{ 
   margin-top: 40px;
   background-color: #fff;
   padding: 30px 65px; 
   font-size: @fontsize14;
   ul{
      width: 80%;
   }
   .list{
       margin-bottom: 40px;
       dt{
          float: left;
          width: 84px; height: 84px;
          border-radius: 50%;
          overflow: hidden;
          img{
            width: 100%;
            max-height: 100%
          }
       }
       dd{
          float: left;
          width: 100%;
          margin-left: -84px; 
          padding-left: 100px;
       }
       .row2{ padding: 12px 0 20px; }
       span{ display: inline-block; background-repeat: no-repeat; background-position: 0px center; cursor: pointer; }
       .time{ float: right; }
       .reply{ margin-left: -6px; }
       .delete{ float: right; background-image: url(../images/close1.png); padding: 0 0 0 25px; }
       .zan{ float: right; background-image: url(../images/zan.png); padding: 0 0 0 25px; margin-left: 35px; }
       .checkmore{
          display: block;
          cursor: pointer;
          background-color: #fdfcee;
          color: #000;
          border: solid 1px #ddd;
          text-align: center;
          padding: 12px 0;
          margin-top: 25px;
       }
       .input-reply{
            margin-top: 30px;
           .input{
              display: inline-block;
              width: 80%;
              height: 36px;
              background: #f2f2f2;
              border: solid 1px #D2D1D1;
              border-radius: 5px;
              padding: 0 15px;
              color: #000;
              font-size: @fontsize14;
           }
          .btn{
            cursor: pointer;
            display: inline-block;
            width: 90px; 
            line-height: 32px; 
            background-color: #0FB6F7;
            color: #fff; 
            text-align: center;
            margin-left: 20px;
          }
      }
   }
   .list-checkmore{
      text-align: center;
      background-color: #f5f5f5;
      padding: 15px 28px;
      margin-top: 6px;
      .s1{ color: #0FB6F7; cursor: pointer; }
      .s2{
          display: block;
          float: right;
          background: url(../images/message.png) no-repeat 0px center;
          padding-left: 25px;
          cursor: pointer;
      }
   }
   .no-more{
      .s1{ color: #000; }
   }
}


.cont-noreply{ 
    text-align: center; 
    padding-top: 100px;
    img{ display: inline-block; }
    span{ display: block; font-size: 16px; padding: 30px 0 0; }
}